.b{
    background-color: rgb(224, 171, 124);
    font-family: verdana;
}
.CEO{
    border-radius: 0.01px;
    padding: 10px;
    object-position: 50p;
}
.topic{
    font-size: 80px;
}
.logo{
    border-radius: 550px;
}














