.b{
    background-color: rgb(0, 0, 0);
    font-family: verdana;
}
.CEO{
    border-radius: 0.01px;
    object-position: 50p;
}
.topic{
    font-size: 80px;
    color: rgb(141, 194, 241);
}

.iconn{
    border-radius: 50px;
}
.para{
    color: aliceblue;
}












